<div class="flex">
  <div class="w-80">
    <aside id="sidebar-multi-level-sidebar"
      class="fixed left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
      aria-label="Sidebar">
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
          <li>
            <a routerLink="/"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              All
            </a>
          </li>
          @for(category of categories(); track category) {
          <li>
            <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              routerLink="/" [queryParams]="{ category: category}">{{category | titlecase}}</a>
          </li>
          }
        </ul>
      </div>
    </aside>
  </div>

  @if(vehicles().length > 0){
  <div class="flex flex-col justify-center items-center w-full">
    <div class="grid grid-cols-5 gap-8 mt-5 p-5">
      @for(vehicle of vehicles(); track vehicle){
      <vehicle-ui [vehicle]="vehicle" (drop)="onDropVehicle($event)"></vehicle-ui>
      }
    </div>
    <paginator-ui [page]="currentPage" [size]="pageSize" [total]="totalRecords"
      (changed)="onPageChange($event)"></paginator-ui>
  </div>
  }@else {
  <div class="flex flex-col justify-center items-center w-full mt-20">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-6 text-gray-500">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
    </svg>
    <span class="text-gray-500 text-lg">
      Ups there's not data right now
    </span>
  </div>
  }
</div>